@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class=" row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/imgs/chaohan.jpg" />
                    <h5 class="card-title">名稱</h5>
                    <p class="card-text">描述</p>
                    <a href="#" class="btn btn-primary">加入</a>
                </div>
            </div>
        </div>
        
    </div>
</div>