@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <table class="table table-striped">
        <thead >
            <tr>
                <th>項次</th>
                <th>品名</th>
                <th>數量</th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>